/* General Styles */
body {
    font-family: 'Cormorant Garamond', serif; /* Use Cormorant Garamond font */
    margin: 0;
    padding: 0;
    background-color: #1A1A1A; /* Dark background */
    color: #EAEAEA; /* Light grey text */
}

/* Header Styles */
header {
    background-color: #003366; /* Navy blue header */
    color: #FFD700; /* Gold text */
    padding: 20px 0;
    text-align: center;
    border-radius: 0 0 20px 20px; /* Rounded corners on bottom */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: #FFD700; /* Gold links */
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #FFD700; /* Gold background on hover */
}

/* Logo Styles */
.logo {
    height: 100px; /* Increase the height of the logo */
}

/* Main Content Styles */
main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Biography Section Styles */
.biography,
.company-profile,
.history,
.leadership {
   background-color: #2C2C2C; /* Slightly lighter background */
   border-radius: 20px; /* Rounded corners for sections */
   box-shadow: 0 2px 10px rgba(255,255,255,0.1);
   margin-bottom: 20px; 
   padding: 20px; 
}

.biography h2,
.company-profile h2,
.history h2,
.leadership h2 {
   color: #FFD700; /* Gold headings */
}

.biography p,
.company-profile p,
.history p,
.leadership p,
.company-profile ul,
history ul,
leadership ul {
   line-height: 1.6; /* Improve readability */
   color: #EAEAEA; /* Light grey text for all other content */
}

/* Leadership Card Styles */
.card {
   background-color: #2C2C2C; /* Slightly lighter card background */
   border-radius: 20px; /* Rounded corners for cards */
   padding: 15px;
   margin-bottom: 15px; 
}

.card h3 {
   color: #FFD700; /* Gold heading for card names */
}

.card p {
   color: #EAEAEA; /* Light grey text for card content */
}

/* Card Image Styles */
.card-img {
   width: auto; /* Maintain aspect ratio */
   height: 150px; /* Set a specific height for Rishi Gandhi's image to reduce size */
   border-radius: 10px; /* Rounded corners for images */
}
